apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../deployment.yaml
  - ../service.yaml
  - ../configmap.yaml
  - ../secret.yaml
  - ../postgres-deployment.yaml
  - ../redis-deployment.yaml
  - ../ingress.yaml

namePrefix: dev-

commonLabels:
  environment: dev

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: ${artifactId}
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "dev"
    target:
      kind: Deployment
      name: ${artifactId}
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "256Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "512Mi"
    target:
      kind: Deployment
      name: ${artifactId}
